.profile-navbar-col1{
    width:200px;
    height:100%;
    float: left;
    margin-right: 10px;
    

}
.profile-navbar-col2{
    width:60;
    height:100%;
    margin-right: 10px;
    float: left;
    
}
.profile-navbar-col3{
    width:160px;
    height:100%;
    float: right;
    position: relative;
    

}

