.tweetbox-message-input-area-inner{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #98DBFF;
   
}